.btn {
  font-family: "Open Sans", sans-serif;
  border-radius: $radius;
  font-size: 16px;
  font-weight: $extra-bold;
  letter-spacing: 0.24px;
  line-height: 1.5;
  padding: 5px 23px;
  border: 3px solid $white;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  @include media("medium") {
    font-size: 24px;
    line-height: 0.8;
    padding: 13px 27px 15px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba($black, 0.2);
    transition: width ease-in-out 0.3s;
  }

  &:focus,
  &:active {
    border: 3px solid;
    outline: unset;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }

  &__white {
    color: $white;

    &::before {
      background-color: rgba($white, 0.4);
    }
  }

  &__dark {
    color: $gray;
    border-color: $gray;
    display: block;
    margin: 0 auto;
  }
}
