$breakpoints: (
  "tiny": (
    min-width: 450px,
  ),
  "small": (
    min-width: 767px,
  ),
  "medium": (
    min-width: 992px,
  ),
  "large": (
    min-width: 1226px,
  ),
) !default;

/*
 * Mixin to manage responsive breakpoints
 */
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}
