p {
  line-height: 1.75;
  margin: 0 0 17px 0;
}

a {
  text-decoration: none;
  color: $black;
  transition: $transition;
  &:hover {
    color: lighten($black, 50%);
  }
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
  font-weight: $extra-bold;
  @include media("medium") {
    font-size: 50px;
  }
}

h1 {
  color: $black;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 19px;
}

h2 {
  font-size: 30px;
  color: $white;
  line-height: 1.1;
  margin-bottom: 12px;
  max-width: 336px;
  @include media("medium") {
    font-size: 50px;
  }
}

h3 {
  font-weight: $bold;
  color: $gray;
  margin-bottom: 20px;
  line-height: 1.74;
  letter-spacing: 0.1px;
}

h4,
.h4 {
  font-size: 19px;
  color: $white;
  letter-spacing: 0.1px;
  font-weight: $semi-bold;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 241px;
  margin-right: 34px;
  @include media("small") {
    margin-bottom: 0;
  }
  @include media("medium") {
    font-size: 21px;
  }
}
