$text: #575756;
$gray: #53686c;
$light-gray: #f9f9f9;
$dark-gray: #535353;
$green: #4caf50;
$white: #ffffff;
$black: #000000;
$bright-color: #dfdede;

$radius: 22px;
$radius-small: 7px;
$transition: all 0.2s;
$shadow: 0 3px 7px rgba($black, 0.35);

$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
