.footer {
  background-color: $dark-gray;
  padding: 23px 0;

  &__text {
    color: $white;
    margin-bottom: 0;
    letter-spacing: 0.1px;
  }

  &__link {
    color: $white;
    margin-left: 5px;

    &:hover {
      color: $bright-color;
    }
  }
}
