.gallery {
  padding: 71px 0 16px;
  overflow-x: hidden;

  &__wrapper {
    margin: 0 -35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__overflow {
    flex: 1 100%;
    height: 403px;
    margin-bottom: 70px;
    @include media("small") {
      flex: 1 calc(50% - 70px);
      margin: 0 35px 70px;
    }
    @include media("large") {
      flex: 1 calc(33.33% - 70px);
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
