.header {
  position: absolute;
  top: 60px;
  z-index: 3;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include media("small") {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__nav {
    @include media("small") {
      margin-bottom: 12px;
    }
    @include media("medium") {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    @include media("tiny") {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__list-item {
    margin-bottom: 10px;
    position: relative;
    color: $black;
    font-size: 20px;
    margin-right: 25px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    font-weight: $extra-bold;
    @include media("tiny") {
      margin-bottom: 0;
    }
    @include media("medium") {
      font-size: 25px;
      margin-right: 0;
    }
  }
}
