.hero {
  position: relative;

  &__background {
    object-fit: cover;
    height: 100vh;
    min-height: 475px;
    width: 100%;
    object-position: bottom;
    max-height: 761px;
    @include media("tiny") {
      height: 80vh;
    }
    @include media("large") {
      height: auto;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    margin: 8%;
    @include media("small") {
      right: 0;
    }
    @include media("large") {
      margin: 0 158px 160px 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
