.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 7;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($white, 0.9);
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }

  &__figure {
    position: relative;
  }

  &__cross {
    position: absolute;
    right: 0;
    top: -45px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: $dark-gray;
      position: absolute;
      transform: rotate(-45deg);
      top: 12px;
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__image {
    text-align: center;
    max-height: calc(100vh - 100px);
  }

  &.visible {
    display: block;
  }
}

.lightbox-trigger {
  cursor: pointer;
}
