.post {
  background-color: $light-gray;
  padding-bottom: 70px;
  padding-top: 24px;

  &__image {
    margin: 0 0 25px;
    padding-top: 6px;
    @include media("small") {
      float: left;
      margin: 0 38px 30px 0;
    }
  }

  &__article {
    margin-bottom: 35px;
  }

  &__text {
    &--clear {
      clear: both;
    }
  }
}
