.submenu {
  display: none;
  position: absolute;
  width: 170px;
  height: auto;
  left: 0;
  top: calc(100% + 13px);
  background-color: $bright-color;
  border-radius: $radius-small;
  box-shadow: $shadow;
  z-index: 5;
  list-style: none;

  &.visible {
    display: block;
  }

  @include media("tiny") {
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 16px);
  }

  &__link {
    display: block;
    margin: 9px 0;
    text-align: center;
  }
}
