.title-text {
  padding: 26px 0 45px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media("medium") {
      align-items: center;
      flex-direction: row;
    }
  }

  &__text {
    @include media("medium") {
      width: 48.5%;
    }
  }
}
